$carousel: (
  class: km-carousel,
  controls: __controls,
  controlsHidden: --controls-hidden,
  itemsCarousel: --items-carousel,
  image: __img,
  baseCarousel: (
    class: tns-carousel,
    navigation: tns-nav,
    active: tns-nav-active
  ),
  bevel: (
    class: --bevel,
    values: (-right-s, -left-s, -right-l, -left-l)
  )
);