$field: (
  class: mc-field,
  group: group,
  item: __item,
  container: __container,
  inline: inline,
  label: __label,
  legend: __legend,
  requirement: __requirement,
  help: __help,
  input: __input,
  error: __error-message
);