$tooltip: (
  class: kl-tooltip,
  container: __container,
  content: __content,
  pointer: __pointer,
  button: __button,
  close: __close,
  wrapper: __wrapper,
  positions: (right, left, top, bottom),
  isClass: (
    visible: is-tooltip-visible,
    hidden: is-tooltip-hidden,
    hover: is-tooltip-texthover,
    click: is-tooltip-click-only
  )
);