div.theme-default-content:not(.custom),
footer.page-edit,
div.page-nav {
    max-width: 100%;

    @media (min-width: $MQNarrow) {
        max-width: 90%;
    }
}

div.el-tabs__item {
    padding: 10px 20px;
    height: auto;
    font-size: 1.25rem;
}

div.el-tabs--border-card > .el-tabs__content {
    padding: 20px 30px;
}

code {
  white-space : pre-wrap !important;
}