div.theme-default-content:not(.custom) {
    max-width: 100%;
}

div.page-nav {
    max-width: 100%;
}

div.el-tabs__item {
    padding: .5rem 2rem;
    height: auto;
    font-size: 1.5rem;
}

div.el-tabs--border-card > .el-tabs__content {
    padding: 1.5rem;
}

code {
  white-space : pre-wrap !important;
}