a {
  @include set-font-scale('05', 'm');

  color: $color-grey-999;
  text-decoration: underline;
  cursor: pointer;
  transition: color ease 200ms;
  font-size: inherit;
  line-height: inherit;

  &.mc-button {
    @include set-button-theme(get-token(color, button, 'solid'), true);

    @each $name, $props in $buttons {
      @if ($name != 'solid') {
        &--#{$name} {
          @include set-button-theme($props);
        }
      }

      @if map-has-key($props, 'disabled') {
        $disabled-props: map-get($props, 'disabled');

        &.is-disabled {
          border-color: transparent;
          background-color: map-get($disabled-props, 'background');
          color: map-get($disabled-props, 'font');
          cursor: not-allowed;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: $color-grey-500;
  }
}
