.ku-ratio {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
  }
}

@each $ratio, $size in $ratioSize {
  .ku-ratio--#{$ratio}::before {
    padding-top: $size;
  }
}

.ku-ratio__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
