$width-column-L: 48;
$width-column-XL: 72;
$width-column-XXL: 124;
$width-gutter-S: 16;
$width-gutter-M: 32;
$width-gutter-L: 32;
$width-gutter-XL: 32;
$width-gutter-XXL: 32;
$width-gutter-inner-S: 16;
$width-gutter-inner-M: 16;
$width-gutter-inner-L: 16;
$width-gutter-inner-XL: 16;
$width-gutter-inner-XXL: 32;

/*  Custom breakpoint for long support
----------------------------------------------------------------------------- */
$lt-m: 'all and (max-width: #{$screen-m})';
