// Price discount
$price-discount-flag: $secondary-red-500;

// Price policy flags (Prix haute qualite, Produit star, ...)
$price-policy-budget-flag: $secondary-yellow-500;
$price-policy-high-quality-flag: $secondary-blue-500;
$price-policy-star-product-flag: $secondary-red-500;
$price-policy-best-value-flag: $primary-01-500;
