@mixin set-style($color, $height, $align) {
  display: block;
  background: $color;
  width: 3rem;
  height: $height;

  @if ($align == 'center') {
    margin: auto;
  }

  @else if($align == 'right') {
    margin-left: auto;
  }
}

@mixin add-separator($position:'bottom', $color: $primary-01-500, $height : get-border(m), $align: 'left') {
  @if ($position != 'block') {
    @if ($position == 'top') {
      &::before {
        @include set-style($color, $height, $align);

        content: '';

        @content;
      }
    }

    @else if($position == 'bottom') {
      &::after {
        @include set-style($color, $height, $align);

        content: '';

        @content;
      }
    }
  }

  @else if ($position == 'block') {
    @include set-style($color, $height, $align);

    @content;
  }
}
