@mixin set-style-theme($prop) {
  color: map-get($prop, 'text-color');
  border: map-get($prop, 'border') solid map-get($prop, 'border-color');
  background-color: map-get($prop, 'bg');
}

@mixin set-style-size($prop) {
  font-size: map-get($prop, 'font-size');
  line-height: map-get($prop, 'line-height');
  border-radius: map-get($prop, 'border-radius');
  padding: map-get($prop, 'padding');
}
