$tagborder: get-border(s);
$tagborderfocus: get-border(m);
$tagsizes: (
  'small':(
    'padding':$mu025 $mu100 ,
    'font-size':$size-font-04,
    'line-height':1,
    'border-radius':0.75rem
  ),
  'medium':(
    'padding':$mu050 $mu100,
    'font-size':$size-font-04,
    'line-height':1.2,
    'border-radius':1rem,
  ),
  'large':(
    'padding':$mu075 $mu100,
    'font-size':$size-font-04,
    'line-height':1.2,
    'border-radius':1.25rem,
  ),
  'icon-right-small':(
    'padding':$mu025 $mu025 $mu025 $mu100,
    'font-size':$size-font-04,
    'line-height':1,
    'border-radius':0.75rem
  ),
  'icon-right-medium':(
    'padding':$mu025 $mu025 $mu025 $mu100,
    'font-size':$size-font-04,
    'line-height':1.2,
    'border-radius':1rem,
  ),
  'icon-right-large':(
    'padding':$mu050 $mu025 $mu050 $mu100,
    'font-size':$size-font-04,
    'line-height':1.2,
    'border-radius':1.25rem,
  ),
  'icon-left-small':(
    'padding':$mu025 $mu100 $mu025 $mu100,
    'font-size':$size-font-04,
    'line-height':1,
    'border-radius':0.75rem
  ),
  'icon-left-medium':(
    'padding':$mu025 $mu100 $mu025 $mu100,
    'font-size':$size-font-04,
    'line-height':1.2,
    'border-radius':1rem,
  ),
  'icon-left-large':(
    'padding':$mu050 $mu100 $mu050 $mu100,
    'font-size':$size-font-04,
    'line-height':1.2,
    'border-radius':1.25rem,
  ),
);

$tagsizedefault: map-get($tagsizes, 'medium');

$tagsthemes: (
  'default':(
    'bg':$white,
    'border':$tagborder,
    'border-color':$grey-300,
    'text-color':$grey-700,
    'status':(
      'active':(
        'bg':$grey-200,
        'border':$tagborder,
        'border-color':$grey-300,
        'text-color':$grey-700
      ),
      'hover':(
        'bg':$grey-100,
        'border':$tagborder,
        'border-color':$grey-300,
        'text-color':$grey-700
      ),
      'focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$grey-800,
        'text-color':$grey-700
      ),
      'hover:focus':(
        'bg':$grey-100,
        'border':$tagborderfocus,
        'border-color':$grey-800,
        'text-color':$grey-700
      )
    ),
  ),
  'icon-right':(
    'bg':$grey-200,
    'border':$tagborder,
    'border-color':transparent,
    'text-color':$grey-900,
    'status':(
      'active':(
        'bg':$grey-400,
        'border':$tagborder,
        'border-color':transparent,
        'text-color':$grey-900
      ),
      'hover':(
        'bg':$grey-300,
        'border':$tagborder,
        'border-color':$grey-300,
        'text-color':$grey-900
      ),
      'focus':(
        'bg':$grey-200,
        'border':$tagborderfocus,
        'border-color':$grey-800,
        'text-color':$grey-900
      ),
      'hover:focus':(
        'bg':$grey-300,
        'border':$tagborderfocus,
        'border-color':$grey-800,
        'text-color':$grey-900
      )
    ),
  ),
  'icon-left':(
    'bg':$white,
    'border':$tagborder,
    'border-color':$grey-900,
    'text-color':$grey-900,
    'status':(
      'active':(
        'bg':$white,
        'border':$tagborder,
        'border-color':$grey-900,
        'text-color':$grey-900
      ),
      'hover':(
        'bg':$white,
        'border':$tagborder,
        'border-color':$grey-900,
        'text-color':$grey-900
      ),
      'focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$grey-900,
        'text-color':$grey-900
      ),
      'hover:focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$grey-900,
        'text-color':$grey-900
      )
    ),
  ),
  'danger':(
    'bg':$white,
    'border':$tagborder,
    'border-color':$secondary-red-500,
    'text-color':$secondary-red-500,
    'status':(
      'active':(
        'bg':$white,
        'border':$tagborder,
        'border-color':$secondary-red-500,
        'text-color':$secondary-red-500
      ),
      'hover':(
        'bg':$white,
        'border':$tagborder,
        'border-color':$secondary-red-500,
        'text-color':$secondary-red-500
      ),
      'focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$secondary-red-500,
        'text-color':$secondary-red-500
      ),
      'hover:focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$secondary-red-500,
        'text-color':$secondary-red-500
      )
    ),
  ),
  'light':(
    'bg':$white,
    'border':$tagborder,
    'border-color':$grey-800,
    'text-color':$grey-900,
    'status':(
      'active':(
        'bg':$white,
        'border':$tagborder,
        'border-color':$grey-800,
        'text-color':$grey-900
      ),
      'hover':(
        'bg':$white,
        'border':$tagborder,
        'border-color':$grey-800,
        'text-color':$grey-900
      ),
      'focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$grey-900,
        'text-color':$grey-900
      ),
      'hover:focus':(
        'bg':$white,
        'border':$tagborderfocus,
        'border-color':$grey-900,
        'text-color':$grey-900
      )
    ),
  ),
  'dark':(
    'bg':$grey-700,
    'border':$tagborder,
    'border-color':transparent,
    'text-color':$white,
    'status':(
      'active':(
        'bg':$grey-900,
        'border':$tagborder,
        'border-color':transparent,
        'text-color':$white
      ),
      'hover':(
        'bg':$grey-800,
        'border':$tagborder,
        'border-color':transparent,
        'text-color':$white
      ),
      'focus':(
        'bg':$grey-700,
        'border':$tagborderfocus,
        'border-color':$grey-900,
        'text-color':$white
      ),
      'hover:focus':(
        'bg':$grey-800,
        'border':$tagborderfocus,
        'border-color':$grey-900,
        'text-color':$white
      )
    ),
  ),
);

$tagthemedefault: map-get($tagsthemes, 'default');
