.#{map-get($accordion, layout)} {
  .#{map-get($accordion, isCollapsed)} {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
  }
}
