.kl-blade {
  padding-bottom: $mu050;

  &--figure {
    position: relative;
    padding: 0;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &--figure-default {
    background-color: $grey-100;
  }

  &--flag {
    margin-left: auto;
    width: 50%;
    text-align: center;
  }

  &-flag-img {
    @include set-font-scale('04', 'm');

    position: absolute;
    z-index: 1;
    padding: $mu025 $mu050;
    color: $white;
    font-weight: get-font-weight('bold');
    background-color: $color-secondary-red-500;
  }

  &--reviews {
    @include set-font-scale('02', 'm');

    display: flex;
    color: $grey-700;
  }

  &--add-to-cart {
    position: relative;
    z-index: 1;
  }

  &--brand {
    position: relative;
    width: 50%;
    height: 20px;
    max-width: 100px;
    padding: 0;
    margin-right: 5%;
    margin-bottom: $mu050;
  }

  &--delivery {
    margin-top: $mu050;

    .ka-list-check-text {
      @include set-font-scale('02', 'm');

      &__icon {
        fill: $primary-01-500;
      }
    }
  }

  &--price {
    margin-top: $mu050;
  }

  &--vendor {
    @include set-font-scale('02', 'm');

    color: $text-900;
    border-left: get-border(m) solid $primary-01-500;
    padding: $mu025 0 $mu025 $mu050;
    font-weight: get-font-weight('bold');

    &__name {
      font-weight: get-font-weight();
    }
  }
}
