.kl-color-filter {
  padding-right: $mu100;

  @include set-from-screen('l') {
    padding: 0;
    margin-top: 0;
  }

  &__label {
    @include set-font-scale('05', 'm');

    flex: 1;
    margin-left: 0;
    text-align: left;
    color: $grey-700;
    font-weight: get-font-weight();

    @include set-from-screen('l') {
      @include set-font-scale('04', 'm');
    }

    &.checked {
      color: $black;
      font-weight: get-font-weight('bold');
    }
  }

  &__label-quantity {
    @include set-font-scale('04', 'm');

    color: $grey-500;

    @include set-from-screen('l') {
      @include set-font-scale('04', 'm');
    }
  }
}
