@mixin generate-column($i, $gutter, $class_prefix : '') {
  $col: 'col-#{$class_prefix}';
  $start: '#{$class_prefix}-#{$i}';

  @if $class_prefix == '' {
    $col: 'col';
    $col-start: '#{$i}';
  }

  .#{$col}-#{$i} {
    @if ($i != 12) {
      width: calc(#{ $i * 100 / 12 * 1% } - #{$gutter * 1px});
      margin-right: #{$gutter}px;
    }

    @else {
      width: $i * 100% / 12;
      margin-right: 0;
    }

    &.col-line-end {
      width: $i * 100% / 12;
      margin-right: 0;
    }
  }

  .col-start-#{$start} {
    margin-left: calc(#{ ($i - 1) * 100 / 12 } * 1%) !important;
  }

  .col-ie-offset-#{$i} {
    margin-left: calc(#{ ($i - 1) * 100 / 12 } * 1%) !important;
  }
}

/* IE WORKAROUND
----------------------------------------------------------------------------- */
/* stylelint-disable  */
_:-ms-fullscreen,
:root {
  .col-container {
    @include set-grid-container-for-IE($from-breakpoint: 's');
  }

  @media #{$lt-m} {
    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-S);
    }

    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-S, 's');
    }
  }

  @include set-from-screen('m') {
    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-M);
    }

    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-M, 'm');
    }
  }

  @include set-from-screen('l') {
    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-L);
    }

    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-L, 'l');
    }

    .col-ie-offset-l-0 {
      margin-left: 0;
    }
  }

  @include set-from-screen('xl') {
    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-XL);
    }

    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-XL, 'xl');
    }

    .col-ie-offset-xl-0 {
      margin-left: 0;
    }
  }

  @include set-from-screen('xxl') {
    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-XXL);
    }

    @for $i from 12 through 1 {
      @include generate-column($i, $width-gutter-XXL, 'xxl');
    }

    .col-ie-offset-xxl-0 {
      margin-left: 0;
    }
  }

  .col-container-inner {
    @include set-grid-container-for-IE($from-breakpoint: 's', $inner:true);

    @media #{$lt-m} {
      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-S);
      }

      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-S, 's');
      }
    }

    @include set-from-screen('m') {
      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-M);
      }

      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-M, 'm');
      }
    }

    @include set-from-screen('l') {
      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-L);
      }

      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-L, 'l');
      }

      .col-ie-offset-l-0 {
        margin-left: 0;
      }
    }

    @include set-from-screen('xl') {
      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-XL);
      }

      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-XL, 'xl');
      }

      .col-ie-offset-xl-0 {
        margin-left: 0;
      }
    }

    @include set-from-screen('xxl') {
      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-XXL);
      }

      @for $i from 12 through 1 {
        @include generate-column($i, $width-gutter-XXL, 'xxl');
      }

      .col-ie-offset-xxl-0 {
        margin-left: 0;
      }
    }
  }
}
