.kl-group-blades {
  width: 100%;

  &--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
