// @endOfSupport
// According with designers, we have to find a matching value to replace this one
//
// Automatic migration
/* stylelint-disable */
.ku-margin--3XS {
  margin: px-to-rem($mu0125);
}

.ku-margin-top--3XS {
  margin-top: px-to-rem($mu0125);
}

.ku-margin-bottom--3XS {
  margin-bottom: px-to-rem($mu0125);
}

.ku-margin-left--3XS {
  margin-left: px-to-rem($mu0125);
}

.ku-margin-right--3XS {
  margin-right: px-to-rem($mu0125);
}

.ku-padding--3XS {
  padding: px-to-rem($mu0125);
}

.ku-padding-top--3XS {
  padding-top: px-to-rem($mu0125);
}

.ku-padding-bottom--3XS {
  padding-bottom: px-to-rem($mu0125);
}

.ku-padding-left--3XS {
  padding-left: px-to-rem($mu0125);
}

.ku-padding-right--3XS {
  padding-right: px-to-rem($mu0125);
}
