.km-card-benefits {
  text-align: center;
  margin-top: calc(3rem + 3px);
  margin-bottom: $mu250;
  position: relative;

  &::after {
    content: '';
    display: block;
    box-shadow: 0 16px 18px -9px rgba(0, 0, 0, 0.34);
    height: 2rem;
    left: 2%;
    right: 2%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  &__picto {
    text-align: center;
    color: $primary-01-500;
    border-radius: 50%;
    width: $mu600;
    height: $mu600;
    overflow: hidden;
    position: absolute;
    border: get-border(l) solid $primary-01-500;
    background: $white;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &--svg {
      fill: $primary-01-500;
    }

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    height: 100%;
    padding: $mu200 $mu300 $mu200 $mu300;
    border-radius: get-border-radius(m);
    border: get-border(s) solid $grey-200;
    background: $white;
    position: relative;
  }

  &__title {
    @include set-font-scale('07', 'm');

    font-weight: get-font-weight('bold');
    margin-top: $mu150;
    margin-bottom: $mu075;
  }

  &__description {
    color: $grey-700;
  }
}


/* HTML Molecules/Card_benefits
<li class="km-card-benefits col-4 col-start-5 mu-mt-400">
    <div class="km-card-benefits__picto">
       <picture class="lazy-loaded" loading="lazy" data-class="km-card-benefits__picto--img" data-iesrc="/sandbox/static/images/User_Contact_Mail_64px.png" data-alt="icon">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=320" media="(max-width: 320px)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=640" media="(max-width: 320px) and (-webkit-min-device-pixel-ratio: 2)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=960" media="(max-width: 320px) and (-webkit-min-device-pixel-ratio: 3)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=640" media="(max-width: 640px)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=1280" media="(max-width: 640px) and (-webkit-min-device-pixel-ratio: 2)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=1920" media="(max-width: 640px) and (-webkit-min-device-pixel-ratio: 3)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=960" media="(max-width: 960px)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=1280" media="(max-width: 960px) and (-webkit-min-device-pixel-ratio: 2)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=1280" media="(max-width: 1280px)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=1920" media="(max-width: 1920px)">
        <source srcset="/sandbox/static/images/User_Contact_Mail_64px.png?width=1921" media="(min-width: 1921px)">
        <img alt="icon" class="km-card-benefits__picto--img"></picture>
    </div>
    <div class="km-card-benefits__content">
        <h3 class="km-card-benefits__title">my title</h3>
        <p class="km-card-benefits__description">my description</p>
    </div>
</li>
*/
