$baseCarousel: map-get($carousel, baseCarousel);
$bevel: map-get($carousel, bevel);
$bevelClass: map-get($bevel, class);
$bevelValues: map-get($bevel, values);

.#{map-get($carousel, class)} {
  position: relative;
  z-index: 1;
  height: auto;
  max-width: 100%;
  transition: all 400ms ease-in-out;

  &#{map-get($carousel, controlsHidden)} {
    @include set-from-screen('l') {
      .#{map-get($carousel, class)}#{map-get($carousel, controls)} {
        opacity: 0;
      }

      &:hover,
      &:focus {
        .#{map-get($carousel, class)}#{map-get($carousel, controls)} {
          opacity: 1;
        }
      }
    }
  }

  &#{map-get($carousel, itemsCarousel)} {
    @include set-from-screen('l') {
      padding: 0 $mu400;
    }

    .#{map-get($navButtons, class)} {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .#{map-get($baseCarousel, class)} { // <ul> slider in macro carousel
      display: flex;
    }

    @supports (-ms-ime-align:auto) { // elegant degradation on IE edge, the button add-to-cart aren't align on the same line
      .#{map-get($baseCarousel, class)} { // <ul> slider in macro carousel
        display: block;
      }
    }
  }

  &#{map-get($carousel, controls)} {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transition: all 400ms ease-in-out;

    @include set-from-screen('l') {
      height: auto;
      overflow: visible;
    }

    .#{map-get($navButtons, class)} {
      position: absolute;
      padding: $mu050;
      opacity: 0.7;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
      font-size: 0;

      &:hover {
        opacity: 1;
      }

      svg {
        fill: $color-grey-700;
      }

      &:first-child {
        left: $mu050;
      }

      &:last-child {
        right: $mu050;
      }
    }
  }

  &#{map-get($carousel, image)} {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .#{map-get($baseCarousel, navigation)} {
    text-align: center;
    bottom: $mu050;
    position: absolute;
    width: 100%;
    z-index: 1;

    > [aria-controls] {
      width: 8px;
      height: 8px;
      margin: 0 4px;
      padding: 0;
      border-radius: 50%;
      background: $white;
      border: get-border(s) solid $grey-200;
    }

    > .#{map-get($baseCarousel, active)} {
      background: $primary-01-500;
    }
  }

  &#{bevelClass} {
    &#{$bevelValues, 1} {
      &::after {
        @include set-bevel;

        -webkit-clip-path: polygon(0 96%, 0% 100%, 100% 100%);
        clip-path: polygon(0 96%, 0% 100%, 100% 100%);
      }
    }

    &#{$bevelValues, 2} {
      &::after {
        @include set-bevel;

        -webkit-clip-path: polygon(0 100%, 100% 96%, 100% 100%);
        clip-path: polygon(0 100%, 100% 96%, 100% 100%);
      }
    }

    &#{$bevelValues, 3} {
      &::after {
        @include set-bevel;

        -webkit-clip-path: polygon(0 100%, 0 92%, 100% 100%);
        clip-path: polygon(0 100%, 0 92%, 100% 100%);
      }
    }

    &#{$bevelValues, 4} {
      &::after {
        @include set-bevel;

        -webkit-clip-path: polygon(0 100%, 100% 92%, 100% 100%);
        clip-path: polygon(0 100%, 100% 92%, 100% 100%);
      }
    }
  }
}

// /* HTML bevel/carousel

//Carousel without bevel
//<div class="km-carousel">
//  <nav class="km-carousel__controls kl-hidden-accessibility" id="my-carousel-controls" aria-label="Carousel Navigation" tabindex="0">
//    <button data-controls="prev" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Left_16px"  /></button>
//    <button data-controls="next" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Right_16px" /></button>
//  </nav>
//  <ul>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/1891993/600x600" alt="" width="" height="auto">
//    </li>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/993239/600x600" alt="" width="" height="auto">
//    </li>
//  </ul>
// </div>
//
//Carousel with small left bevel
//<div class="km-carousel km-carousel--bevel-left-s">
//  <nav class="km-carousel__controls kl-hidden-accessibility" id="my-carousel-controls" aria-label="Carousel Navigation" tabindex="0">
//    <button data-controls="prev" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Left_16px"  /></button>
//    <button data-controls="next" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Right_16px" /></button>
//  </nav>
//  <ul>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/1891993/600x600" alt="" width="" height="auto">
//    </li>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/993239/600x600" alt="" width="" height="auto">
//    </li>
//  </ul>
// </div>

//Carousel with large left bevel
//<div class="km-carousel km-carousel--bevel-left-l">
//  <nav class="km-carousel__controls kl-hidden-accessibility" id="my-carousel-controls" aria-label="Carousel Navigation" tabindex="0">
//    <button data-controls="prev" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Left_16px"  /></button>
//    <button data-controls="next" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Right_16px" /></button>
//  </nav>
//  <ul>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/1891993/600x600" alt="" width="" height="auto">
//    </li>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/993239/600x600" alt="" width="" height="auto">
//    </li>
//  </ul>
//</div>

//Carousel with small right bevel
//<div class="km-carousel km-carousel--bevel-right-s">
//  <nav class="km-carousel__controls kl-hidden-accessibility" id="my-carousel-controls" aria-label="Carousel Navigation" tabindex="0">
//    <button data-controls="prev" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Left_16px"  /></button>
//    <button data-controls="next" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Right_16px" /></button>
//  </nav>
//  <ul>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/1891993/600x600" alt="" width="" height="auto">
//    </li>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/993239/600x600" alt="" width="" height="auto">
//    </li>
//  </ul>
// </div>

//Carousel with large right bevel
//<div class="km-carousel km-carousel--bevel-right-l">
//  <nav class="km-carousel__controls kl-hidden-accessibility" id="my-carousel-controls" aria-label="Carousel Navigation" tabindex="0">
//    <button data-controls="prev" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Left_16px"  /></button>
//    <button data-controls="next" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Right_16px" /></button>
//  </nav>
//  <ul>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/1891993/600x600" alt="" width="" height="auto">
//    </li>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/993239/600x600" alt="" width="" height="auto">
//    </li>
//  </ul>
// </div>

//Carousel with items cross-sell
//<div class="km-carousel km-carousel--items-carousel">
//  <nav class="km-carousel__controls kl-hidden-accessibility" id="my-carousel-controls" aria-label="Carousel Navigation" tabindex="0">
//    <button data-controls="prev" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Left_16px"  /></button>
//    <button data-controls="next" aria-controls="customize" tabindex="-1" class="ka-nav-button ka-nav-button--l" type="button"><@icons.icon iconPath="Navigation_Arrow_Arrow--Right_16px" /></button>
//  </nav>
//  <ul>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/1891993/600x600" alt="" width="" height="auto">
//    </li>
//    <li class="km-carousel__item">
//      <img class="km-carousel__img tns-lazy-img" src="" data-src="https://source.unsplash.com/collection/993239/600x600" alt="" width="" height="auto">
//    </li>
//  </ul>
// </div>
// */
