$modifiers: map-get($card, modifiers);

.#{map-get($card, steps)} {
  display: flex;
  align-items: center;
  margin-top: $mu100;
  margin-bottom: $mu100;

  &#{map-get($card, picto)} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $mu400;
    height: $mu400;
    padding-right: $mu100;

    &--#{nth($modifiers, 1)} {
      fill: $primary-01-500;
    }

    &--#{nth($modifiers, 2)} {
      width: 100%;
      height: auto;
    }
  }

  &#{map-get($card, content)} {
    text-align: left;
    padding-left: $mu100;
    border-left: solid get-border(m) $grey-200;
  }

  &#{map-get($card, title)} {
    @include set-font-scale('05', 'm');

    font-weight: get-font-weight('bold');
    margin-bottom: $mu050;

    @include set-from-screen('l') {
      @include set-font-scale('06', 'm');
    }
  }

  &#{map-get($card, description)} {
    @include set-font-scale('04', 'm');

    color: $grey-700;

    @include set-from-screen('l') {
      @include set-font-scale('05', 'm');
    }
  }
}


/* HTML Molecules/Card_steps
<li class="km-card-steps col-container-inner">
    <div class="km-card-steps__picto col-2">
        <svg class="kl-hidden" xmlns="http://www.w3.org/2000/svg"><symbol id="User_Contact_Mail_48px" viewBox="0 0 48 48"><path d="M38 13V9a2 2 0 00-2-2H12a2 2 0 00-2 2v4H6a2 2 0 00-2 2v24a2 2 0 002 2h36a2 2 0 002-2V15a2 2 0 00-2-2zm-20.51 8h13L24 25.21zM41 17.79v18.42L26.76 27zM38.24 16l-.24.15V16zM35 10v8.1L32 20a1 1 0 00-1-1H17a1 1 0 00-1 1l-3-1.9V10zm-25 6.15L9.76 16H10zm-3 1.64L38.24 38H7z"></path><path d="M17 15h14a1 1 0 000-2H17a1 1 0 000 2z"></path></symbol></svg>
        <svg class="ku-icon-48 km-card-steps__picto--svg"><use href="#User_Contact_Mail_48px"></use></svg>
    </div>
    <div class="col-10 km-card-steps__content">
        <h3 class="km-card-steps__title">my title</h3>
        <p class="km-card-steps__description">my very very very long description</p>
    </div>
</li>
*/
