@import 'node_modules/@mozaic-ds/styles/components/c.fields';

.km-field {
  &__label {
    @include labelStyle;

    display: block;
  }

  &__mention {
    @include set-font-scale('02', 'm');

    white-space: nowrap;
  }

  &__suggest {
    @include set-font-scale('02', 'm');

    color: $grey-600;
    display: block;
    line-height: 1.15;
    margin-top: $mu0125;
  }

  &__input {
    margin: $mu075 0 $mu0125;

    &--inline {
      @include modify-from-screens($major-screens) {
        margin: 0;
      }
    }
  }

  &__message {
    @include set-font-scale('02', 'm');

    display: block;
    margin-top: $mu075;
    line-height: 1.15;

    &--invalid {
      color: $secondary-red-500;
    }
  }

  &__wrapper {
    margin: $mu075 0 $mu0125;

    &--buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &--inline {
      @include modify-from-screens('l') {
        margin: 0;
      }
    }

    &--counter {
      display: flex;
      align-items: stretch;

      &.km-field__wrapper--inline {
        @include modify-from-screens($major-screens) {
          margin: 0;
        }
      }

      .km-field__input {
        margin: 0;
      }
    }
  }

  &__criteria-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    margin-top: $mu075;

    &__item {
      @include set-font-scale('02', 'm');

      flex: 0 0 50%;
      line-height: 1.15;
      color: $color-form-criteria;
      margin-bottom: $mu050;

      &.is-valid {
        color: $color-form-criteria-is-valid;
      }

      &.is-invalid {
        color: $color-form-criteria-is-invalid;
      }
    }

    &__bullet {
      margin-right: $mu025;

      .is-invalid & {
        background: $color-form-criteria-bullet-is-invalid;
      }
    }
  }

  &__checkbox-wrapper,
  &__radio-wrapper {
    margin-bottom: $mu050;

    &--buttons {
      width: 100%;

      @include set-from-screen('m') {
        margin-right: $mu075;
        width: unset;
      }
    }
  }

  &__select-wrapper {
    margin: $mu075 0 $mu0125;

    &--inline {
      @include modify-from-screens($major-screens) {
        margin: 0;
      }
    }
  }

  &__miniature {
    padding: $mu050;
    display: flex;
    align-items: center;

    & + & {
      border-top: get-border(s) $grey-300 solid;
    }

    &__image {
      display: inline-block;
      object-fit: contain;
      width: 48px;
      height: 48px;
      margin-right: $mu050;
    }

    &__name {
      flex-grow: 1;
      word-break: break-all;
    }

    &__delete {
      margin-left: $mu050;
      cursor: pointer;
    }
  }

  &__remaining-character {
    @include set-font-scale('04', 'm');

    margin: $mu050;
    text-align: right;
  }

  &__counter-button {
    padding-left: $mu100;
    padding-right: $mu100;

    &--left {
      border-radius: get-border-radius(m) 0 0 get-border-radius(m);
    }

    &--right {
      border-radius: 0 get-border-radius(m) get-border-radius(m) 0;
      z-index: 1;
      position: relative;
    }
  }
}
