.#{map-get($goodToKnow, class)} {
  text-align: left;
  border: get-border(m) solid $primary-01-500;
  border-radius: get-border-radius(m);
  padding: $mu075;
  background: $white;

  &#{map-get($goodToKnow, title)} {
    @include set-font-scale('05', 'm');

    font-weight: get-font-weight('bold');
    color: $primary-01-500;
    display: table;
    margin-top: -#{$mu150};
    background: $white;
    padding: 0 $mu075;
  }

  &#{map-get($goodToKnow, description)} {
    @include set-font-scale('04', 'm');

    color: $grey-700;
    padding-left: $mu075;
  }

  &#{map-get($goodToKnow, link)} {
    @include set-font-scale('04', 'm');

    padding-left: $mu075;
  }
}


/* HTML Molecules/good-to-know
<div class="km-good-to-know">
    <h3 class="km-good-to-know__title">Bien prendre ses mesures</h3>
    <p class="km-good-to-know__description">La prise de mesures pour bénéficier du service de découpe doit répondre à certains critères listés dans ce document.</p>
    <a href="#" target="_blank" class="ka-link km-good-to-know__link">Voir le document</a>
</div>
*/
