.km-header-popin-filters {
  position: relative;
  background-color: $white;
  padding: $mu150 $mu100;
  min-height: 4.5rem;

  &__reset {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: $mu100;
    color: $text-999;
    text-align: left;

    &:hover,
    &:focus {
      color: $text-999;
    }
  }

  &__title {
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $text-999;
    text-align: center;
  }

  &__close {
    cursor: pointer;
    fill: $grey-800;
    background: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $mu100;
  }
}



