@import 'node_modules/@mozaic-ds/styles/components/c.file-uploader';

.km-input {
  position: relative;

  &--button {
    display: flex;
    flex-wrap: nowrap;
  }

  &--upload {
    border: get-border(m) dashed $color-form-upload-border;
    height: px-to-rem(120);
    position: relative;

    &.is-disabled {
      border-color: $color-form-upload-border-is-disabled;
    }
  }

  &__input {
    margin: 0;

    .km-input--ico-left & {
      padding-left: px-to-rem(40); // 16px ( décalage gauche du picto ) + 16px ( dimension du picto ) + 8px ( marge entre picto et texte de l'input )
    }

    .km-input--ico-right & {
      padding-right: px-to-rem(40);
    }

    .km-input--button & {
      border-right: none;
      border-radius: get-border-radius(m) 0 0 get-border-radius(m);
      flex: 1;
    }
  }

  &__button {
    border-radius: 0 get-border-radius(m) get-border-radius(m) 0;
  }

  &__ico {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: $mu100;
    }

    &--right {
      right: $mu100;
    }

    .is-valid ~ & {
      @include icoValidStyle;
    }

    .is-invalid ~ & {
      @include icoInvalidStyle;
    }

    .km-input__input:hover ~ & {
      @include icoHoverStyle;
    }

    .km-input__input:focus ~ & {
      @include icoFocusStyle;
    }

    .km-input__input:disabled ~ & {
      @include icoDisabledStyle;
    }
  }

  &__upload {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

  &__instructions {
    @include set-font-scale('05', 'm');

    font-weight: get-font-weight('bold');
    color: $color-form-upload-instructions;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    padding: 0 $mu100;
    box-sizing: border-box;

    &__ico {
      display: block;
      margin: auto;
      fill: $color-form-upload-ico;
    }

    .km-input__upload:disabled ~ & {
      color: $color-form-upload-instructions-is-disabled;

      .km-input__instructions__ico {
        @include icoDisabledStyle;
      }
    }
  }
}

// TODO - Add documentation
