.km-list {
  li {
    margin-bottom: $mu100;
    list-style: disc;
    list-style-position: inside;
  }

  &--ordered {
    li {
      list-style: decimal;
      list-style-position: inside;
    }
  }
}
