$ecotaxes: map-get($priceCdp, ecotaxes);

.#{map-get($ecotaxes, class)} {
  @include set-font-scale('02', 'm');

  &#{map-get($ecotaxes, link)} {
    display: inline-block;
    transition: color 0.2s ease;

    &#{map-get($ecotaxes, icon)} {
      transition: fill 0.2s ease;
      position: relative;
      top: -2px;
    }

    &:hover &#{map-get($ecotaxes, icon)} {
      fill: $grey-500;
    }
  }
}
