$mainprice: map-get($priceCdp, price);
$flagsPrice: map-get($priceCdp, flagsPrice);
$modifiers: map-get($priceCdp, modifiers);

.#{map-get($mainprice, class)} {
  font-size: 0;

  &#{map-get($mainprice, from)} {
    line-height: 1.75rem;

    &#{map-get($mainprice, withoutoffer)} {
      @include set-font-scale('04', 'm');

      display: inline-block;
      vertical-align: middle;
      color: $black;
      text-decoration: line-through;
    }
  }

  &#{map-get($mainprice, primary)} {
    @include set-font-scale('09', 'm');

    font-weight: get-font-weight('bold');

    &#{map-get($mainprice, unitSale)} {
      @include set-font-scale('05', 'm');
    }
  }

  &#{map-get($mainprice, secondary)} {
    @include set-font-scale('02', 'm');

    color: $grey-900;
  }

  &#{map-get($mainprice, ecoPart)},
  &#{map-get($mainprice, ecoPart)}#{map-get($mainprice, link)} {
    @include set-font-scale('02', 'm');

    color: $grey-500;
  }

  &#{map-get($mainprice, ecoPart)} {
    &#{map-get($mainprice, link)} {
      display: inline-block;
      transition: color 0.2s ease;

      &#{map-get($mainprice, icon)} {
        fill: $grey-500;
        transition: fill 0.2s ease;
        position: relative;
        top: -2px;
      }

      &:hover {
        color: $primary-01-500;
      }

      &:hover &#{map-get($mainprice, icon)} {
        fill: $primary-01-500;
      }
    }
  }

  &#{map-get($flagsPrice, flagPrice)} {
    &#{map-get($modifiers, firstprice)},
    &#{map-get($modifiers, highquality)},
    &#{map-get($modifiers, bestvalue)} {
      @include set-font-scale('02', 'm');

      display: inline-block;
      padding: $mu050;
      margin-bottom: $mu025;
      line-height: 0.5rem;
      background-color: $price-policy-budget-flag;
      font-weight: get-font-weight('bold');
      text-transform: uppercase;
    }

    &#{map-get($modifiers, highquality)} {
      background-color: $price-policy-high-quality-flag;
    }

    &#{map-get($modifiers, bestvalue)} {
      background-color: $price-policy-best-value-flag;
    }

    &#{map-get($modifiers, starproduct)} {
      @include set-font-scale('02', 'm');

      display: inline-block;
      padding: $mu025 $mu050;
      margin-bottom: $mu025;
      background-color: $price-policy-star-product-flag;
      line-height: 1rem;
      font-weight: get-font-weight('bold');
      color: $white;
    }

    &#{map-get($modifiers, discount)} {
      @include set-font-scale('05', 'm');

      display: inline-block;
      vertical-align: middle;
      padding: $mu025 $mu050;
      background-color: $price-discount-flag;
      line-height: 1.25rem;
      font-weight: get-font-weight('bold');
      color: $white;
    }

    &#{map-get($modifiers, discount)}#{map-get($flagsPrice, enddate)} {
      @include set-font-scale('02', 'm');

      display: inline-block;
      vertical-align: middle;
      margin-left: $mu050;
      color: $price-discount-flag;
    }

    &#{map-get($modifiers, clearance)} {
      display: flex;

      &#{map-get($flagsPrice, label)} {
        @include set-font-scale('05', 'm');

        display: inline-block;
        vertical-align: middle;
        padding: calc(#{$mu025} - 1px) $mu050;
        border: get-border(s) solid $price-discount-flag;
        line-height: 1.25rem;
        text-transform: uppercase;
        color: $price-discount-flag;
      }

      &#{map-get($flagsPrice, amount)} {
        @include set-font-scale('05', 'm');

        display: inline-block;
        vertical-align: middle;
        padding: $mu025 $mu050;
        background-color: $price-discount-flag;
        color: $secondary-yellow-500;
        line-height: 1.25rem;
        font-weight: get-font-weight('bold');
      }
    }
  }

  &#{map-get($mainprice, tagLabel)} {
    @include set-font-scale('04', 'm');

    display: inline-block;
    margin-top: $mu100;
    padding: $mu075 $mu100;
    border: get-border(s) solid $secondary-red-500;
    border-radius: px-to-rem(19);
    line-height: 0.75rem;
    font-weight: get-font-weight('bold');
    color: $secondary-red-500;
  }


  &#{map-get($modifiers, discount)} {
    .#{map-get($mainprice, class)} {
      &#{map-get($mainprice, primary)} {
        color: $secondary-red-500;
      }
    }
  }

  &#{map-get($modifiers, light)} {

    .#{map-get($mainprice, class)} {

      &#{map-get($flagsPrice, flagPrice)} {

        &#{map-get($modifiers, firstprice)},
        &#{map-get($modifiers, highquality)},
        &#{map-get($modifiers, bestvalue)} {
          padding: $mu025;
          line-height: 0.75rem;
        }

        &#{map-get($modifiers, discount)} {
          @include set-font-scale('02', 'm');

          line-height: 0.75rem;
        }

        &#{map-get($modifiers, clearance)} {

          &#{map-get($flagsPrice, label)},
          &#{map-get($flagsPrice, amount)} {
            @include set-font-scale('02', 'm');

            line-height: 0.75rem;
          }

          &#{map-get($flagsPrice, label)} {
            padding: calc(#{$mu025} - 1px) $mu025;
          }
        }
      }

      &#{map-get($mainprice, primary)} {
        @include set-font-scale('07', 'm');

        font-weight: get-font-weight('bold');

        &#{map-get($mainprice, unitSale)} {
          @include set-font-scale('04', 'm');
        }
      }

      &#{map-get($mainprice, tagLabel)} {
        @include set-font-scale('02', 'm');

        margin-top: $mu050;
        padding: $mu050 $mu075;
        border-radius: px-to-rem(13);
        line-height: 0.5rem;
      }
    }
  }
}
