@import 'node_modules/@mozaic-ds/styles/components/c.radio';

.#{map-get($radio, class)} {
  -webkit-appearance: none;

  &#{map-get($radio, input)} {
    -webkit-appearance: none;
  }
}

.#{map-get($radio, lmClass)} {
  -webkit-appearance: none;

  &#{map-get($radio, suffixLabel)} {
    color: $grey-500;
    cursor: pointer;
  }

  &#{map-get($radio, input)} {
    -webkit-appearance: none;

    &--#{map-get($radio, inputHidden)} {
      position: absolute;
      opacity: 0;
    }
  }

  &#{map-get($radio, button)} {
    @include set-font-scale('05', 'm');

    padding: $mu075 $mu075;
    display: block;
    border: get-border(s) solid $color-form-radio-border;
    border-radius: get-border-radius(m);
    margin: 0;
    width: 100%;
    text-align: center;

    &--#{map-get($radio, image)} .#{map-get($radio, lmClass)}__#{map-get($radio, image)} {
      width: 100%;
      height: auto;
    }

    &--#{map-get($radio, smallButton)} {
      @include set-font-scale('04', 'm');

      padding: $mu075 $mu075;
      line-height: 0;
    }

    .is-invalid ~ & {
      @include inputInvalidStyle;

      box-shadow: none;
    }

    :hover ~ & {
      @include inputHoverStyle;
      @include labelHoverStyle;
    }

    :focus ~ & {
      @include inputFocusStyle;
      @include labelRadioCheckedStyle;
    }

    :checked ~ & {
      @include inputValidStyle;
      @include labelRadioCheckedStyle;

      position: relative;

      &--#{map-get($radio, image)} {
        &::after {
          @include set-box-shadow('s');

          content: '';
          border-radius: 100%;
          background-color: $color-grey-000;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM3OGJlMjAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTcuNjMgMTEuMjFhMSAxIDAgMCAxLTEuMzggMGwtMi45Mi0yLjZhMSAxIDAgMSAxIDEuMzQtMS40OGwyLjIyIDIgNC40MS00LjM0YTEgMSAwIDEgMSAxLjQgMS40MnoiLz48L3N2Zz4=');
          position: absolute;
          right: $mu125;
          bottom: $mu125;
          width: $mu125;
          height: $mu125;
        }
      }
    }

    :disabled ~ & {
      @include inputDisabledStyle;
    }
  }

  &--#{map-get($radio, image)} {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;

    &-#{map-get($radio, inline)} {
      display: inline-flex;
      align-items: center;
    }

    &-#{map-get($radio, column)} {
      display: flex;
      flex-direction: column;
    }


    .#{map-get($radio, label)} {
      width: 100%;
      height: auto;
      cursor: pointer;

      &--#{map-get($radio, outside)} {
        margin: $mu075 0;
      }

      &::after {
        @include set-box-shadow('s');

        content: '';
        border-radius: 100%;
        background-color: $color-grey-000;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM3OGJlMjAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTcuNjMgMTEuMjFhMSAxIDAgMCAxLTEuMzggMGwtMi45Mi0yLjZhMSAxIDAgMSAxIDEuMzQtMS40OGwyLjIyIDIgNC40MS00LjM0YTEgMSAwIDEgMSAxLjQgMS40MnoiLz48L3N2Zz4=');
        position: absolute;
        right: $mu125;
        bottom: $mu125;
        width: $mu125;
        height: $mu125;
      }
    }
  }
}

.km-radio-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;

  &--position {
    &-inline {
      display: inline-flex;
    }

    &-column {
      display: flex;
      flex-direction: column;
    }
  }
  // Element
  &__input {
    @include resetInput;

    width: 20px;
    height: 20px;
    border: get-border(m) solid $color-form-radio-border;
    border-radius: 50%;
    cursor: pointer;
    flex: 0 0 auto;

    &::before {
      content: '';
      display: none;
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      background: $color-form-radio-checked-bullet;
      width: px-to-rem(8);
      height: px-to-rem(8);
      border-radius: 50%;
      pointer-events: none;
    }

    &.is-invalid {
      @include inputInvalidStyle;

      box-shadow: none;
    }

    &:hover {
      @include inputHoverStyle;
    }

    &:focus {
      @include inputFocusStyle;
    }

    &:checked {
      @include inputValidStyle;

      &::before {
        display: block;
      }
    }

    &:disabled {
      @include inputDisabledStyle;
    }

    &--hidden {
      position: absolute;
      top: 0;
      opacity: 0;
    }
    // ie11 fix
    &::-ms-check {
      border-radius: 50%;
      border: 2px solid $color-form-checkbox-border;
    }

    &:checked::-ms-check {
      background: $white;
      border-color: $color-form-checkbox-background-is-checked;
      color: $color-form-checkbox-background-is-checked;
    }

    @supports (-ms-ime-align: auto) {
      -webkit-appearance: button;
    }
  }
  // Element
  &__label {
    @include labelStyle;

    margin: 0 0 0 $mu075;
    cursor: pointer;

    &-outisde {
      margin: $mu075 0;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__buttons {
    @include set-font-scale('05', 'm');

    padding: $mu075 $mu075;
    display: block;
    border: get-border(s) solid $color-form-radio-border;
    border-radius: get-border-radius(m);
    margin: 0;
    width: 100%;
    text-align: center;

    &--small {
      @include set-font-scale('04', 'm');

      padding: $mu075 $mu075;
      line-height: 0;
    }

    .is-invalid ~ & {
      @include inputInvalidStyle;

      box-shadow: none;
    }

    :hover ~ & {
      @include inputHoverStyle;
      @include labelHoverStyle;
    }

    :focus ~ & {
      @include inputFocusStyle;
      @include labelRadioCheckedStyle;
    }

    :checked ~ & {
      @include inputValidStyle;
      @include labelRadioCheckedStyle;

      position: relative;

      &.km-radio-wrapper__label-image {
        &::after {
          @include set-box-shadow('s');

          content: '';
          border-radius: 100%;
          background-color: $color-grey-000;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM3OGJlMjAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTcuNjMgMTEuMjFhMSAxIDAgMCAxLTEuMzggMGwtMi45Mi0yLjZhMSAxIDAgMSAxIDEuMzQtMS40OGwyLjIyIDIgNC40MS00LjM0YTEgMSAwIDEgMSAxLjQgMS40MnoiLz48L3N2Zz4=');
          position: absolute;
          right: $mu125;
          bottom: $mu125;
          width: $mu125;
          height: $mu125;
        }
      }
    }

    :disabled ~ & {
      @include inputDisabledStyle;
    }
  }
}
