.km-sorting {
  display: flex;
  align-items: center;
  align-content: flex-start;
  margin-top: $mu100;

  @include set-from-screen('m') {
    margin-bottom: $mu200;
  }

  @include set-from-screen('xl') {
    margin-top: 0;
    margin-bottom: $mu200;
  }

  &__label {
    margin-right: $mu100;

    @include set-from-screen('xl') {
      @include set-font-scale('06', 'm');

      flex: none;
    }
  }

  &__numbers {
    @include set-font-scale('06', 'm');

    font-weight: get-font-weight('bold');
  }

  &__choices {
    @include set-from-screen('xl') {
      width: 14rem;
    }
  }

  &__select {
    background: $white;
    padding: $mu075 $mu100;
    -moz-appearance: none;

    &:focus {
      outline: 1px dotted $black;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }
}
