.km-standard-filter {
  .km-checkbox-wrapper {
    padding: $mu150 0 $mu150 0;
    border-top: 1px solid $grey-200;

    @include set-from-screen('xl') {
      border-top: none;
    }
  }

  &__suffix-label {
    @include set-font-scale('04', 'm');

    margin-left: $mu025;
  }
}
