$stepToken: map-get($tableCard, step);
$themesColors: (
  --black: $color-grey-999,
  --white: $color-grey-000,
);

//en attendant l'arrivé de ses icones dans la fonction mozaic
@function tmp-inline-icons($icon, $fill) {
  @if $icon == 'control-more-24' {
    @return '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" fill="#{$fill}"  viewBox="0 0 24 24"><path d="M19.09,11h-6V5a1,1,0,0,0-2,0v6h-6a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>';
  }

  @if $icon == 'control-less-24' {
    @return '<svg xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" fill="#{$fill}" viewBox="0 0 24 24"><path d="M17.09,13h-10a1,1,0,0,1,0-2h10a1,1,0,0,1,0,2Z"/></svg>';
  }
}

%base-title {
  @include set-font-scale('04', 'm');

  font-weight: get-font-weight('bold');
}

.#{map-get($tableCard, base)} {
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: $mu100;
  margin-bottom: $mu100;

  &#{map-get($tableCard, title)} {
    @include set-font-scale('07', 'm');

    font-weight: get-font-weight('bold');
    margin-bottom: $mu100;
  }

  &#{map-get($stepToken, base)} {
    display: flex;
    align-items: center;
    margin-bottom: $mu100;

    &#{map-get($stepToken, icon)} {
      height: 24px;
      width: 24px;
    }

    &#{map-get($stepToken, container)} {
      margin-left: $mu050;
    }

    &#{map-get($stepToken, title)} {
      @extend %base-title;
    }

    &#{map-get($stepToken, detail)} {
      @include set-font-scale('05', 'm');

      font-weight: get-font-weight('bold');
      color: $primary-01-500;
    }
  }

  &#{map-get($tableCard, detail)} {
    padding-bottom: $mu150;
    display: none;

    @include set-from-screen('l') {
      border: none;
      padding-bottom: $mu050;
      display: block;
    }
  }

  &#{map-get($tableCard, detailTitle)} {
    @extend %base-title;

    padding: $mu050 0;
  }

  &#{map-get($tableCard, trigger)} {
    position: absolute;
    opacity: 0;

    &:checked ~ .#{map-get($tableCard, base)}#{map-get($tableCard, detail)} {
      display: block;
    }
  }

  &#{map-get($tableCard, triggerLabel)} {
    @extend %base-title;

    display: block;
    padding: $mu100 0;
    border-top-width: 2px;
    border-top-style: solid;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: $mu150;

    @include set-from-screen('l') {
      display: none;
    }
  }

  @each $theme in map-get($tableCard, theme) {
    $bgColor: map-get($themesColors, $theme);
    $fontColor: if(lightness($bgColor) > 50, $color-grey-999, $color-grey-000);

    &#{$theme} {
      background-color: $bgColor;
      color: $fontColor;

      .#{map-get($tableCard, base)} {
        &#{map-get($tableCard, triggerLabel)} {
          border-color: $fontColor;
          background-image: url(tmp-inline-icons("control-more-24", $fontColor));
        }
        &#{map-get($tableCard, trigger)}:checked ~ .#{map-get($tableCard, base)}#{map-get($tableCard, triggerLabel)} {
          background-image: url(tmp-inline-icons("control-less-24", $fontColor));
        }
      }
    }
  }
}
