.ko-popin-filters {
  width: 100%;

  .kl-popin {
    &__inner {
      padding: 0;
      background-color: $grey-100;
    }

    &__header {
      padding: 0;
      margin: 0;

      &.is-fixed {
        position: inherit;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }

    &__body {
      padding: 0;
    }
  }

  &.l-hide-element {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: block;
  }

  @import '../06-molecules/header-popin-filters.molecules';
  @import '../06-molecules/footer-popin-filters.molecules';
  @import '../07-organisms/item-filters.organisms';
  @import '../06-molecules/standard-filters.molecules';
  @import '../06-molecules/range-filters.molecules';
  @import '../06-molecules/toggle-filters.molecules';
  @import '../10-bundles/visual-filter.bundle';
  @import '../10-bundles/color-filter.bundle';
  @import '../04-layouts/tooltips.layout';
}
