@include set-from-screen('xl') {
  .ko-popin-filters.kl-hidden {
    width: auto;
    display: block;
    transform: none;
    background-color: $white;
    position: static;
    outline: none;

    .kl-popin__close {
      display: none;
    }

    .kl-popin__inner {
      box-shadow: none;
      background-color: $white;
      width: 100%;
      margin: 0;
      max-height: none;
      height: auto;
    }

    .kl-popin__body {
      overflow: unset;
    }

    .km-header-popin-filters {
      padding: $mu050 $mu150 $mu150 0;
      min-height: 4rem;

      &__title {
        text-align: left;
      }

      &__close {
        display: none;
      }
    }

    .ko-filter-item {
      margin-top: 0;

      &__header {
        padding: $mu100 $mu050 $mu100 0;
      }

      &__name {
        order: 0;
        flex: 0 1 90%;
        align-self: auto;
      }

      &__examples {
        @include set-font-scale('04', 'm');

        margin-top: $mu050;
        line-height: $mu100;
      }

      &__icon {
        width: 1rem;
        height: 1rem;
      }

      &__content {
        padding: 0 $mu100 0 0;
      }

      &.has-more-info {
        padding: $mu100 $mu075 $mu075 0;
      }
    }

    .km-standard-filter {
      .km-field__checkbox-wrapper {
        padding: 0;
        margin: 0 0 $mu100 0;
      }
    }
  }
}
