$modifiers: map-get($headerHero, modifiers);

.#{map-get($headerHero, class)} {
  position: relative;
  padding-top: 0;
  height: 400px;

  @include set-from-screen('m') {
    padding-top: $mu300;
    min-height: 400px;
  }

  @include set-from-screen('xxl') {
    height: auto;
  }

  &--#{nth($modifiers, 1)} {
    height: auto;
  }

  &#{map-get($headerHero, content)} {
    padding: $mu150 0;

    @include set-from-screen('xxl') {
      padding: 0;
    }
  }

  &#{map-get($headerHero, title)} {
    @include set-font-scale('10', 'm');

    color: $white;
    margin-bottom: $mu050;
    padding-top: $mu100;
    line-height: 1.2;
  }

  &#{map-get($headerHero, description)} {
    @include set-font-scale('06', 'm');

    color: $white;

    @include add-separator($position: 'top', $color: $primary-01-500, $height: get-border(l)) {
      margin-top: $mu100;
      margin-bottom: $mu150;
      width: 6rem;
    }
  }

  &#{map-get($headerHero, imageContainer)} {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 400px;

    &::before {
      content: '';
      display: block;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &#{map-get($headerHero, image)} {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}


/* HTML Organisms/Header_hero
<div class="ko-header-hero">
    <div class="col-container">
        <div class="ko-header-hero__content col-s-12 col-start-m-3 col-m-8 col-ie-offset-l-2 col-l-6 col-ie-offset-xl-2 col-start-xl-2 col-xl-4 col-ie-offset-xxl-2 col-start-xxl-2 col-xxl-4">
            <h1 class="ko-header-hero__title">my title</h1>
            <p class="ko-header-hero__description">my description</p>
        </div>
    </div>
    <div class="ko-header-hero__bloc-img">
        <img class="ko-header-hero__img" src="${landingService.header.image}" alt="${landingService.header.title}"/>
    </div>
</div>
*/
