@import 'node_modules/@mozaic-ds/styles/components/c.flag';

.ka-flag {
  @include set-font-scale('04', 'l');

  background: $primary-01-500;
  font-weight: get-font-weight('bold');
  border: get-border(s) solid transparent;
  color: $white;
  display: inline-block;
  padding: 0 $mu050;
  transform: translateY(-0.11em);

  &--secondary {
    background: $white;
    border-color: $primary-01-500;
    color: $primary-01-500;
  }

  &--campus {
    background: $primary-02-600;

    &.ka-flag--secondary {
      background: $white;
      border-color: $primary-02-600;
      color: $primary-02-600;
    }
  }

  &--light {
    background: $white;
    color: $black;

    &.ka-flag--secondary {
      background: transparent;
      border-color: $white;
      color: $white;
    }
  }

  &--dark {
    background: $black;

    &.ka-flag--secondary {
      background: transparent;
      border-color: $black;
      color: $black;
    }
  }

  &--danger {
    background: $secondary-red-500;

    &.ka-flag--secondary {
      background: $white;
      border-color: $secondary-red-500;
      color: $secondary-red-500;
    }
  }
}

/* HTML Link/global
    <span class="ka-flag">Primary</span>
    <span class="ka-flag ka-flag--secondary">Secondary</span>
    <span class="ka-flag ka-flag--campus">Campus</span>
    <span class="ka-flag ka-flag--secondary ka-flag--campus">Campus secondary</span>
    <span class="ka-flag ka-flag--danger">Danger</span>
    <span class="ka-flag ka-flag--secondary ka-flag--danger">Danger secondary</span>
    <span class="ka-flag ka-flag--light">Light</span>
    <span class="ka-flag ka-flag--secondary ka-flag--light">Light secondary</span>
    <span class="ka-flag ka-flag--dark">Dark</span>
    <span class="ka-flag ka-flag--secondary ka-flag--dark">Dark secondary</span>
*/
