@import 'node_modules/@mozaic-ds/styles/components/c.text-input';
@import 'node_modules/@mozaic-ds/styles/components/c.left-icon-input';

.ka-input {
  @include resetInput;
  @include inputCommunStyle;

  padding: $mu100;
  // State
  &.is-valid {
    @include inputValidStyle;
  }
  // State
  &.is-invalid {
    @include inputInvalidStyle;
  }
  // State
  &:hover {
    @include inputHoverStyle;
  }
  // State
  &:focus {
    @include inputFocusStyle;
  }
  // State
  &:disabled {
    @include inputDisabledStyle;
  }

  &--counter {
    border-width: get-border(s) 0;
    border-radius: 0;
    text-align: center;
  }
}
