$size: map-get($navButtons, size);

.#{map-get($navButtons, class)} {
  border-radius: get-border-radius(m);
  cursor: pointer;
  background: $white;
  transition: all 400ms ease-in-out;
  padding: $mu050 $mu075;

  &#{nth($size, 1)} {
    padding: $mu100 $mu075;
  }
}

// /* HTML button/carousel
// <button class="ka-nav-button"> icon left </button><br><br>
// <button class="ka-nav-button ka-nav-button--l"> icon right </button>
// */
