@import 'node_modules/@mozaic-ds/styles/components/c.tag';

@mixin tag-danger-default {
  color: $color-secondary-red-500;
  font-weight: get-font-weight('bold');
  box-shadow: inset 0 0 0 get-border('s') $color-secondary-red-500;
}

$tagsType: map-get($tags, types);
$tagsTheme: map-get($tags, themes);

.#{map-get($tags, class)} {

  &-#{nth($tagsType, 1)} {
    &--#{nth($tagsTheme, 2)} {
      @include tag-danger-default;
    }
  }

  &-#{nth($tagsType, 2)} {
    &:hover,
    &:focus {
      color: $grey-700;
    }

    &--#{nth($tagsTheme, 1)} {
      &:hover,
      &:focus {
        color: $white;
      }
    }

    &--#{nth($tagsTheme, 2)} {
      @include tag-danger-default;

      &:hover,
      &:active {
        color: $color-secondary-red-500;
        background: $color-secondary-red-100;
      }
    }
  }
}

.ka-tag {
  @include resetButton;
  @include set-style-size($tagsizedefault);
  @include set-style-theme($tagthemedefault);

  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__icon-right {
    padding-left: $mu050;
    pointer-events: none;
  }

  &__icon-left {
    padding-right: $mu050;
    pointer-events: none;
  }

  @each $status , $prop in map-get($tagthemedefault, 'status') {
    &:#{$status} {
      @include set-style-theme($prop);
    }
  }

  @each $size, $prop in $tagsizes {
    @if ($size != 'medium') {
      &--#{$size} {
        @include set-style-size($prop);
      }
    }
  }

  @each $size, $prop in $tagsizes {
    &--#{$size} {
      @include modify-from-screens(('m', 'l', 'xl', 'xxl')) {
        @include set-style-size($prop);
      }
    }
  }

  @each $theme, $prop in $tagsthemes {
    @if ($theme != 'default') {
      &--#{$theme} {
        @include set-style-theme($prop);

        @each $status, $prop in map-get($prop, 'status') {
          &:#{$status} {
            @include set-style-theme($prop);
          }
        }
      }
    }
  }
}
